%h3 Users
.span8
  - bootstrap_table headers:['','UserName', 'Email', 'Registered', 'Role', '',''], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
    %tbody
      - @users.each do |user|
        %tr[user]
          %td= glyph(:user)
          %td= link_to user.name, user
          %td= user.email
          %td= user.created_at.to_date
          %td= user.roles.first.name.titleize unless user.roles.first.nil?
          %td= link_to "#{glyph(:cog)}Change Role".html_safe,"#role-options-#{user.id}",data: {toggle: "modal"}
          %td= link_to "#{glyph(:remove_sign)}Delete".html_safe, user_path(user), data: { confirm: "Are you sure?" }, method: :delete
