.panel.panel-info
  .panel-heading
    User
  %ul.list-group
    %li.list-group-item
      %p
        %strong Name:
        = @user.name.presence || 'None'
    %li.list-group-item
      %p
        %strong Email:
        = mail_to @user.email
    %li.list-group-item
      %p
        %strong Registered:
        = @user.created_at
    %li.list-group-item
      %p
        %strong Last Sign In:
        = @user.last_sign_in_at || 'Never signed in'
    %li.list-group-item
      %p
        %strong Role:
        = (@user.role_name.presence || 'unassigned').capitalize
    .panel-footer
      = link_to 'Back', users_path, icon: 'icon-list', class: 'btn btn-default btn-sm'



