.page-header
  = link_to users_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_user_path(@user), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h3 Show user

%dl.dl-horizontal
  %dt User:
  %dd= @user.name
  %dt Email:
  %dd= mail_to @user.email
  %dt Registered:
  %dd= @user.created_at.to_s(:default)
  %dt Last Sign In:
  %dd= @user.last_sign_in_at.to_s(:default)
  %dt Role:
  %dd= (@user.role_name.presence || 'none').capitalize
  - if @user.role
    %dt Permissions:
    %dl
      - @user.role_permissions.each do |permission|
        %dd= permission

