%h3 User
%p
  User: #{@user.name}
%p
  Email: #{@user.email}
%p
  Role: #{@user.roles.first.name.capitalize}

%p
  Permissions

  %table.table.table-condensed
    %th
      Abilities
    - @user.roles.first.permissions.all.each do |permission|
      %tr.info
        %td= permission.display_name

= render 'notes/notes', notes: current_user.notes



