= form_tag role_permissions_update_path, method: :patch do
  %table.table.table-bordered.table-striped.table-condensed
    %tr
      %th
      - @role_permissions.roles.each do |role|
        %th= role.name
    - @role_permissions.permissions.each do |permission|
      %tr
        %th
          = permission
        - @role_permissions.roles.each do |role|
          %td= check_box_tag "roles[#{role.id}][permission_ids][]", permission.id, role.permissions.include?(permission)
  = submit_tag "Update", class: 'btn btn-primary'

