= form_tag permissions_update_path, method: :put do
  %table.table.table-bordered
    %tr
      %th
      - @roles.each do |role|
        %th= role.name.capitalize
    - @permissions.each do |permission|
      %tr
        %th
          = permission.display_name
        - @roles.each do |role|
          %td= check_box_tag "roles[#{role.id}][permission_ids][]", permission.id, role.permissions.include?(permission)
  = submit_tag "Update"

