= link_to "Edc", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to 'Edit account', edit_user_registration_path
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', users_path
    %li
      = link_to 'Dropbox Setup', setup_dropbox_path if current_user.drop_box_key.blank? && current_user.drop_box_secret.blank?
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
    %li.dropdown
      %a#drop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :roles => "button"}
        Manage Access and Roles
        %b.caret
      %ul.dropdown-menu{:roles => "menu"}
        %li{:roles => "presentation"}
          = link_to 'Add and Remove Roles', roles_path
        %li{:roles => "presentation"}
          = link_to 'Manage Role Permissions', permissions_edit_path
  - else
    %li
      = link_to 'Sign up', new_user_registration_path
    %li
      = link_to 'Login', new_user_session_path
