!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Edc"
      %meta{:content => content_for?(:description) ? yield(:description) : "Edc", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name}", "data-action" => action_name, "data-controller" => controller_path}
    .navbar.navbar-inverse.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{roles: "main"}
      .container
        .content
          .row
            #sidebar.span3
              .well
                = yield(:sidebar)
            %a.toggles{href: "#"}
              %i.icon-chevron-left.icon-border
            #main_view.span9
              = gflash
              = render 'layouts/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
